body{
    background-color: #ccccff;
}

.header{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;

    
}

nav {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px 20px; /* Padding around the navigation items */
    text-align: center;
    size: 100px;
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 120px; /* Add some spacing between items */
}

nav ul li a {
    color: white; /* Text color for navigation links */
    text-decoration: none; /* Remove underline from links */
    size: 100px;
    font-size: x-large;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}
input[type="number"] {
    width: 100px;
    padding: 8px;
    margin-bottom: 10px;
}
#cgpa {
    font-weight: bold;
}
#cgpa-label {
    font-weight: bold;
}  
.subject-row {
    margin-bottom: 10px;
}
.subject-name {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}
.subject-box {
    display: inline-block;
    width: 150px;
}

.container{
    text-align: center;
}
.button{
    font-size: 40px;
    padding: 10px 20px;
}

.ticket {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin: 0 auto; 
    
    

}
.ticket h2 {
    margin-top: 0;
}
.ticket p {
    margin-bottom: 10px;
}